
html{
	background-image:url("back.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
}
body{
	background-color:#e5c100;
	color: white;
	 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
    color: #e5c100;
}
nav ul li{

	color: gold	;
	background-color: gold;
	list-style-type: none;
	display: inline-block;
	padding: 8px 12px;
	text-decoration: none;
	font-size: 18;

}
h3{
	font-family: Sans-serif;
	font-size: 18px;
	padding: 10px;
	margin: 0px;
	color: white;
   font-size: 25px;

}
input[type="text"]{
	background-color: white;
	border: 3px solid white;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	padding: 5px;
	width: 300px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right:  10px;
	outline: none;
}
input[type="text"]:hover{
	border: 3px solid gold;


}
div.back{
	position:sticky;
	top: 0px;
	left: 0px;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ffffff;
 
}
button{
	padding: 10 20 0 20px;
}